<template name="chat">
	{{invokeAfterLoad}}
	<div class="chatWindow">
		<!-- <div class="chat-actions">
			<button>Action</button>
			<button>Action</button>
		</div> -->

		<div class="chat-messages">
			{{#each messages}}
				{{> chatItem}}
			{{/each}}

			{{chatLoaded}}
		</div>
		
		{{#if currentUser}}
		<div class="composer">
			<input type="text" class="chat-composer">
		</div>
		{{else}}
		{{> userActions}}
		{{/if}}
	</div>
</template>

<template name="chatItem">
	<div class="message-block">
		<div class="profile">
			<div class="profile-image">
				<img src="{{profileImage}}" alt="">
			</div>
			<div class="details">
				<div class="username">{{username}}</div>
				<div class="timeago">{{timeago}}</div>
			</div>
		</div>
		<div class="message-content">
			{{content}}
		</div>
	</div>
</template>